@import "../../../styles/styles.scss";
@import "../../../styles/typografy.scss";


.dummy_container {
    width: 100%;
}

.offer_card_container {
    display: flex;
    gap: 8px;
    background-color: $primary-light-color;
    border: 1px solid $content-border-color;
    border-radius: 8px;
    width: 100%;
    min-width: fit-content;
    align-items: center;

    .offer_img_conainer {
        width: auto;
        height: 220px;
        overflow: hidden;
        flex-shrink: 0;
    }

    .info_controls_container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 23px 23px 23px 0;

        .info_container {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h1 {
                line-height: 24px;
                font-weight: 500;
                font-size: 20px;
                font-family: $font-roboto;
            }

            .datas_container {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .info {
                    // display: ;
                    color: #757575;
                    font-size: 14px;
                    span{
                        font-weight: bold;
                        color: $primary-color;
                    }
                }
            }

        }

        .controls_container {
            width: fit-content;
            display: flex;
            gap: 8px;

            button{
                font-size: 14px;
                font-size: 12px;
                width: 120px;
                text-align: center;
            }

            .secondary {
                background-color: $primary-light-color;
                border: 1px solid $primary-controls-color;
                color: $primary-controls-color;

                &:hover {
                    color: $primary-controls-dark-color;
                    border-color: $primary-controls-dark-color;
                }
            }
        }
    }

}