@import "../../../styles/styles.scss";
@import "../../../styles/typografy.scss";
@import "../../../styles/input.scss";

$info_color: #757575;

.input_vertical_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input_caption {
    font-size: 12px;
    line-height: 16px;
    color: $info_color;
}


.error_caption {
    color: $primary-controls-color;
}

.profile_input_container {
    width: 100%;
    position: relative;


    .placeholder {
        color: $info_color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        transition: all 0.3s ease-in-out;
        cursor: text;
        &.error {
            color: $primary-controls-color;
        }
    }
}