@import "../../styles/styles.scss";
@import "../../styles/typografy.scss";


.controls_container {
    display: flex;
    justify-content: space-between;
    background-color: $primary-light-color;
    border: $content-container-border;
    padding: 32px 24px;
    border-radius: 8px;
    align-items: center;


    button {
        height: fit-content;
    }

    .filter_button {
        $content-color: #EC5C57;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $content-color;
        background: #FEEFEF;


        .icon {
            width: 24px;
            height: 24px;
            fill: $content-color;
        }

    }


    .dates_controls_container {
        display: flex;
        gap: 32px;
        align-items: center;

        .dates_container {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .gap_elem {
            width: 16px;
            height: 1px;
            background: $primary-color;
        }
    }
}


.chart_container {
    border: $content-container-border;
    border-radius: 8px;
    overflow: hidden;

    .chart_header {
        padding: 24px;
        background-color: #F5F7F9;

        .content_container {
            display: flex;
            flex-direction: row;
            gap: 32px;
            justify-content: flex-start;
        }
    }

    .chart {
        padding: 40px 40px 32px 24px;
        background-color: $primary-light-color;
    }
}

.offers_types_container {
    display: flex;
    width: fit-content;
    gap: 8px;
    white-space: nowrap;

    button {
        &.offer_type {
            background-color: $primary-light-color;
            border-radius: 24px;
            border: 1px solid $content-border-color;
            font-size: 14px;
            padding: 12px 16px;
            color: $primary-color;
            line-height: 16px;
        }

        &.active {
            border: 1px solid $primary-controls-color;
        }
    }

}