@import "../../styles/styles.scss";
@import "../../styles/typografy.scss";
@import "../../styles/input.scss";

input {
    &:disabled {
        background-color: transparent;
    }
}


.offer_ver_container {
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 100%;

    $main-padding: 24px;

    .offer_section_container {
        background-color: $primary-light-color;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: fit-content;
        padding: $main-padding;
        border: $content-container-border;
        overflow: hidden;
        transition: all 0.5s ease-in-out;

        &.resize {
            padding: 0;
        }

        &.first {
            min-width: 562px;
        }

        &.main {
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            align-items: center;

            .img_container {
                height: 50%;
                min-height: 300px;
                width: 260px;
                overflow: hidden;
            }

            img {
                height: 100%;
                width: auto;
            }

        }

        .main_info_container {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 300px;
            padding: 24px 0 32px 24px;
        }

        &.pay {
            gap: 24px;
            padding: 0
        }

        .pay_info_container {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: $main-padding;

            .pay_info_data_container {
                display: flex;
                flex-direction: column;
                gap: 16px;
                color: #757575;

                span {
                    &::after {
                        content: " ";
                    }

                    .main {
                        font-weight: bold;
                        color: $primary-color;
                    }
                }
            }
        }


        h1 {
            font-size: 22px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.2px;
            width: fit-content;
        }

        .checkmark_caption {
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;

            span {
                &::after {
                    content: " ";
                }
            }

            .section_link {
                color: $primary-controls-color;
            }
        }

        &.resize {
            padding: 0;
        }

        &.open {
            padding-bottom: $main-padding;

            .content_resize {
                .arrow_container {
                    transform: rotate(270deg);
                }
            }

        }

        &.opened {
            height: fit-content;

            .info_container {
                padding: $main-padding $main-padding 32px $main-padding;
                height: fit-content;

                &.link {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .link_caption {
                        span {
                            &::after {
                                content: " ";
                            }
                        }

                        .section_link {
                            color: $primary-controls-color;
                            cursor: pointer;
                        }
                    }
                }

                &.attached_files {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: $main-padding;
                    gap: 24px;


                    .item {
                        padding-bottom: 24px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        border-bottom: 1px solid $content-border-color;
                        cursor: pointer;
                        text-decoration: none;
                        color: $primary-color;

                        .info_container {
                            display: flex;
                            flex-direction: row;
                            gap: 16px;
                            padding: 0;
                            align-items: center;


                            .logo_container {
                                width: 50px;
                                height: 50px;
                                border-radius: 8px;
                                border: 1px solid $content-border-color;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                            }


                        }

                        .logo {
                            fill: #979797;
                        }

                    }
                }
            }

            .content_resize {
                background-color: #F5F7F9;
            }
        }

        .content_resize {
            display: flex;
            justify-content: space-between;
            padding: $main-padding;
            cursor: pointer;

            .arrow_container {
                transform: rotate(90deg);
                fill: #9FA0A7;
                transition: all 0.5s ease-in-out;
            }
        }

        .info_container {
            display: flex;
            flex-direction: column;
            padding: 0 $main-padding 0 $main-padding;
            box-sizing: border-box;
            transition: all 0.5s ease-in-out;

            &.hor_container {
                flex-direction: row;
                gap: 32px;

                span {

                    width: 0;
                    height: fit-content;

                    &.visible {
                        width: 100%;
                    }
                }
            }

        }

    }


    .offer_hor_container {
        display: flex;
        gap: 24px;
    }

}